---
layout: post
template: one-col
title: What is Two-step Verification?
categories: references/accounts
lead: ""
legacy: false
tags: ["account", "security"]
permalink: /:collection/:path
---

{% include general/references/account/two-step-verification.md %}
